<div>
    <ng-container *ngIf="userContactInfo">
        <mat-card style="margin-top: 3em;">
            <mat-card-title>Your Contact-Info</mat-card-title>
            <mat-card-subtitle>{{userContactInfo.address}}</mat-card-subtitle>
            <mat-card-content>
                <p>Address: {{userContactInfo.address| prettyHex}}</p>
                <p>Public key:{{userContactInfo.metadata.publicKey| prettyHex}}</p>
                <p>Signed date:{{userContactInfo.metadata.date}}</p>
            </mat-card-content>
        </mat-card>
    </ng-container>

    <div style="margin-top: 3em;">
        <mat-card>
            <mat-card-title>Lookup a different address</mat-card-title>
            <mat-card-subtitle *ngIf="lookupContactInfo">{{lookupContactInfo.address}}</mat-card-subtitle>
            <mat-card-content>

                <form>
                    <mat-form-field appearance="fill" style="margin-right: 1em; width: 25em;">
                        <mat-label>Eth Address</mat-label>
                      <input matInput placeholder="0x..." value="" type="text" (keyup.enter)="lookupMetadataForAddress(lookupAddress.value)"  #lookupAddress>
                    </mat-form-field>
                    <button (click)="lookupMetadataForAddress(lookupAddress.value)" mat-raised-button>Lookup</button>
                </form>

                <div *ngIf="lookupMetadataError">
                    {{lookupMetadataError}}
                </div>
                <div *ngIf="lookupContactInfo">
                    <p>Address: {{lookupContactInfo.address| prettyHex}}</p>
                    <p>Public key:{{lookupContactInfo.metadata.publicKey| prettyHex}}</p>
                    <p>Signed date:{{lookupContactInfo.metadata.date}}</p>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>