<div>
    <h2>Eth Connect</h2>
    <p>A way to connect to any ethereum address</p>

    <br>
    <p>This is a lookup system to find a secure way to connect to any ethereum address</p>
    <p>Eth Users can declare certain metadata by signing them and then they are available for everyone to access</p>
    
    <br>

    <p>The first step is to map a seperate and secure PublicKey to an address</p>
    <p>Most address which are used to transact might be on a hardware wallet or have valueable Eth</p>
    <p>It is inconvenient and really insecure for the user to expose private keys to decrypt messages for an dapp while it contains ether</p>
    <p>It also makes sense to map multiple Ethereum address with a single public key/contact mechanism </p>
    <p>These are the justifications to use a different key for contact/connect with the community</p>

    <br>

    <p>We can generate a new key using the signature of the existing key as entropy or it can be imported</p>
    <p>The user will be asked to sign the json containing his/her contact information. For now, its only the encryption public key</p>
    <p>Using asymmetric encryption(public-private key system), people can communicate securely</p>
    <p>This ensures there is a safe way to write messages. The communication channels will be defined next</p>
</div>