.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
}

.title {
    font-weight: bold;
}

.content {
    padding: 1em;
}

.connect-button {
    cursor: pointer;
    background: dodgerblue;
    padding: .5em;
    border-radius: 4px;
}

.main-content {
    display: flex;
    flex-direction: column;
    line-height: 2em;
}