<div>
  <h2>Generate new keys</h2>
</div>

<mat-stepper [linear]="true" #stepper>
    <mat-step label="Create key" [editable]="false" [completed]="mode>1">
        <div>We will use your signature to generate the randomization/entropy for a new private key.</div>
        <div>This key can be regenerated whenever you need and can also be exported.</div>
        <div>This will only request for a signature and will cost no money. Its perfectly safe.</div>

        <div class="spacer-line"></div>

        <div> Click on the Create button when ready.</div>
        <button  style="margin-top: 1em;"  mat-raised-button (click)="onGenerateEntropySignatureClick()">Create</button>
    </mat-step>
    <mat-step label="Generate"  [editable]="false" [completed]="mode>2">
        <div>We have successfully generated a new key-pair for you using your own address as entropy.</div>
        <div> Your new public key is : {{publicKey}} </div>
        <div> You can export the private key and import it into a different chat/message app
            <button  style="margin-left: 1em;"   mat-raised-button (click)="openPrivateKeyExportDialog()">Export</button>

        </div>

        <div class="spacer-line"></div>
        <div>Note: You can always regenerate them by logging in here. You will get the same key</div>

        <div class="spacer-line"></div>
        <div class="spacer-line"></div>

        <div> We can now link the newly generated key to your connected account.</div>
        <div>This will generate a signature saying you want your messages linked to the generated public key.</div>

        <button style="margin-top: 1em;"  mat-raised-button (click)="onGenerateAuthorizingSignatureWithJsonClick()">Generate</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>Your contact-info is updated!</p>
      <div>
      </div>
    </mat-step>
  </mat-stepper>
